<div class="session-wrapper">
	<div class="row h-100 mb-0">
		<div class="col s3 testimonial-sec">
			<div class="session-left">
				<div class="session-slider">
					{{#each data.testimonials}}
					<div class="slider-content">
						<img src="{{avatar}}" class="rounded-circle img-responsive" alt="avatar" width="170" height="170">
						<div class="slider-meta mb-3">
							<span class="d-block client-name fw-bold"><i>{{name}}</i></span>
							<span class="d-block client-digg">{{designation}}</span>
						</div>
						<p class="px-4">{{body}}</p>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="col s9 flex-center login-sec">
			<div class="session-right text-xs-center">
				<div class="session-table-cell">
					<div class="session-content">
						<div class="session-head text-center">
							<img src="/images/session-logo.png" class="img-responsive mb-3" alt="session-logo" width="100" height="100">
							<h2 class="mb-3">Reset Password</h2>
							<p class="fs-14">Please Enter Your Password To Reset.</p>
						</div>
						<form novalidate="novalidate" class="form-wrp mb-4">
							<div class='input-field'>
								<input class='validate' type='password' name='password' id='password' />
								<label for='password'>Enter your password</label>
							</div>
							<div class='input-field'>
								<input class='validate' type='password' name='password' id='password' />
								<label for='password'> Re-type your password</label>
							</div>
							<button type="button" class="btn btn-block">
                        <div class="btn-content">Reset Password</div>
                     </button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
