<div class="app-card blog-widget">
	<div class="app-card-content">
		<div class="row mb-0">
			<form class="col s12" method="post" action="">
				<div class="row mb-0">
					<div class="input-field col s12">
						<div class="fallback dropzone dz-clickable" id="id_dropzone">
							<div class="dz-message">
								<input name="token" value="xxx" type="hidden">
							</div>
						</div>
					</div>
					<div class="input-field col s12">
						<input name="subject" id="text" type="text" class="validate">
						<label for="text">Subject</label>
					</div>
					<div class="input-field col s12">
						<textarea name="content" id="textarea1" class="materialize-textarea"></textarea>
						<label for="textarea1">Content</label>
					</div>
					<div class="col s12 mt-4">
						<a href="javascript:;" class=" green waves-effect waves-light btn">{{translation.publish}}</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
