<div class="blog-card p-4 white-text d-flex align-items-end w-100 h-100 set-height">
   <div>
      <h3 class="text-white mb-3">Where Can You Find Unique Myspace Layouts Nowadays</h3>
      <span class="white-text d-block mb-3">11 Nov 2017 , By: Admin , 5 Comments </span>
      <div class="d-custom-flex justify-space-between">
         <div class="d-flex justify-content-between align-self-center w-100">
            <div>
               <a href="javascript:(void);" class="btn-floating-flat text-white"><i class="fas fa-share-alt"></i></a>
               <a href="javascript:(void);" class="btn-floating-flat text-white"><i class="fas fa-heart"></i></a>
            </div>
            <div>
               <a href="javascript:(void);" class="btn-floating-flat text-white"><i class="fas fa-ellipsis-h"></i></a>
            </div>
         </div>
      </div>
   </div>
</div>