<div class="prograss-bar d-flex align-items-center">
	<span class="mr-3 label label-header mr-3 text-sm">Clothing</span>
	<div class="progress" style="height:24px;">
		<div class="determinate" style="width: 75%; height:inherit;"></div>
	</div>
	<span class="mr-3 label progress-counter text-sm">75%</span>
</div>
<div class="prograss-bar d-flex align-items-center">
	<span class="mr-3 label mr-3 label-header text-sm">Gadgets</span>

	<div class="progress" style="height:24px;">
		<div class="determinate" style="width: 45%; height:inherit;"></div>
	</div>
	<span class="mr-3 label progress-counter text-sm">45%</span>
</div>
<div class="prograss-bar d-flex align-items-center">
	<span class="mr-3 label mr-3 label-header text-sm">Furniture</span>

	<div class="progress" style="height:24px;">
		<div class="determinate" style="width: 83%; height:inherit;"></div>
	</div>
	<span class="mr-3 label progress-counter text-sm">83%</span>
</div>
<div class="prograss-bar d-flex align-items-center">
	<span class="mr-3 label mr-3 label-header text-sm">Wine</span>

	<div class="progress" style="height:24px;">
		<div class="determinate" style="width: 15%; height:inherit;"></div>
	</div>
	<span class="mr-3 label progress-counter text-sm">15%</span>
</div>
<div class="prograss-bar d-flex align-items-center">
	<span class="mr-3 label mr-3 label-header text-sm">Toys</span>

	<div class="progress" style="height:24px;">
		<div class="determinate" style="width: 58%; height:inherit;"></div>
	</div>
	<span class="mr-3 label progress-counter text-sm">58%</span>
</div>
<div class="prograss-bar d-flex align-items-center">
	<span class="mr-3 label mr-3 label-header text-sm">Nutrition</span>

	<div class="progress" style="height:24px;">
		<div class="determinate" style="width: 39%; height:inherit;"></div>
	</div>
	<span class="mr-3 label progress-counter text-sm">39%</span>
</div>
