{{> widgets/breadcrumb/breadcrumb}}
<div class="card mb-4">
	<div class="card-content">
		<div class="card-header justify-content-between d-flex">
			<h3 class="card-title"> {{translation.contactAndTags}} </h3>
		</div>
		<!--card-header-->
		<div class="card-data">
			<div class="chip">
				<img src="/images/avatars/user-3.jpg" alt="Contact Person"> Jane Doe
			</div>
			<div class="chip">
				Tag
				<i class="close material-icons">close</i>
			</div>
		</div>
		<!--card-data-->
	</div>
	<!--card-content-->
</div>
<!--card-->



<div class="card mb-4">
	<div class="card-content">
		<div class="card-header justify-content-between d-flex">
			<h3 class="card-title">{{translation.primary}}</h3>
		</div>
		<!--card-header-->
		<div class="card-data">
			<div class="chip primary white-text">
				<img src="/images/avatars/user-3.jpg" alt="Contact Person"> Jane Doe
			</div>
			<div class="chip primary white-text">
				Tag
				<i class="close material-icons">close</i>
			</div>
		</div>
		<!--card-data-->
	</div>
	<!--card-content-->
</div>
<!--card-->




<div class="card mb-4">
	<div class="card-content">
		<div class="card-header justify-content-between d-flex">
			<h3 class="card-title">{{translation.success}}</h3>
		</div>
		<!--card-header-->
		<div class="card-data">
			<div class="chip success white-text">
				<img src="/images/avatars/user-3.jpg" alt="Contact Person"> Jane Doe
			</div>
			<div class="chip success white-text">
				Tag
				<i class="close material-icons">close</i>
			</div>
		</div>
		<!--card-data-->
	</div>
	<!--card-content-->
</div>
<!--card-->





<div class="card">
	<div class="card-content">
		<div class="card-header justify-content-between d-flex">
			<h3 class="card-title">{{translation.error}}</h3>
		</div>
		<!--card-header-->
		<div class="card-data">
			<div class="chip error white-text">
				<img src="/images/avatars/user-3.jpg" alt="Contact Person"> Jane Doe
			</div>
			<div class="chip error white-text">
				Tag
				<i class="close material-icons">close</i>
			</div>
		</div>
		<!--card-data-->
	</div>
	<!--card-content-->
</div>
