{{> widgets/breadcrumb/breadcrumb}}

<div class="card mb-4">
	<div class="card-content">
		<div class="card-header justify-content-between d-flex">
			<h3 class="card-title"> {{translation.grid}} </h3>
		</div>
		<div class="card-data mt-4">
			<div class="row mb-5">
				<div class="col s12 text-center">
					<div class="primary text-white p-3">12</div>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col s4 text-center">
					<div class="primary text-white p-3">4</div>
				</div>
				<div class="col s4 text-center">
					<div class="primary text-white p-3">4</div>
				</div>
				<div class="col s4 text-center">
					<div class="primary text-white p-3">4</div>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col s3 text-center">
					<div class="primary text-white p-3">3</div>
				</div>
				<div class="col s3 text-center">
					<div class="primary text-white p-3">3</div>
				</div>
				<div class="col s3 text-center">
					<div class="primary text-white p-3">3</div>
				</div>
				<div class="col s3 text-center">
					<div class="primary text-white p-3">3</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col s3 m1 mb-4 text-center">
					<div class="primary text-white p-3">1</div>
				</div>
				<div class="col s3 m1 mb-4 text-center">
					<div class="primary text-white p-3">1</div>
				</div>
				<div class="col s3 m1 mb-4 text-center">
					<div class="primary text-white p-3">1</div>
				</div>
				<div class="col s3 m1 mb-4 text-center">
					<div class="primary text-white p-3">1</div>
				</div>
				<div class="col s3 m1 mb-4 text-center">
					<div class="primary text-white p-3">1</div>
				</div>
				<div class="col s3 m1 mb-4 text-center">
					<div class="primary text-white p-3">1</div>
				</div>
				<div class="col s3 m1 mb-4 text-center">
					<div class="primary text-white p-3">1</div>
				</div>
				<div class="col s3 m1 mb-4 text-center">
					<div class="primary text-white p-3">1</div>
				</div>
				<div class="col s3 m1 mb-4 text-center">
					<div class="primary text-white p-3">1</div>
				</div>
				<div class="col s3 m1 mb-4 text-center">
					<div class="primary text-white p-3">1</div>
				</div>
				<div class="col s3 m1 mb-4 text-center">
					<div class="primary text-white p-3">1</div>
				</div>
				<div class="col s3 m1 mb-4 text-center">
					<div class="primary text-white p-3">1</div>
				</div>
			</div>
		</div>
	</div>
</div>
