<div class="flex-center flex-direction-column w-100 not-found-wrap" style="height:100vh;background-color: #f4f5f9;">
	<div class="card text-center p-5">
		<h1 class="mb-4">{{error.status}}</h1>
		<h1 class="mb-4">{{message}}</h1>
		<h4 class="mb-4">
			<a href="/" class="router-link-active" style="cursor:pointer">
                Go Back to Site
            </a>
		</h4>
	</div>
</div>
