<div class="card">
	<div class="app-full-content">
		<div>
			<div class="blog-grid">
				<div class="d-flex align-items-end" style="height: 330px; background-image: url(&quot;http://vuely.theironnetwork.org/static/img/carousel-slider-2.jpg&quot;); background-position: center center;">
					<div class="py-3 px-4">
						<h3 class="text-white">Top 10 Australian beaches</h3>
					</div>
				</div>
			</div>
			<div class="px-4 py-3">
				<div>
					<span class="text-sm">Number 10</span>
					<p class="mb-0">Whitehaven Beach Whitsunday Island, Whitsunday Islands, Ullam expedita, necessitatibus sit exercitationem aut quo quos inventore,whitehaven Beach Whitsunday Island, Whitsunday Islands, Ullam expedita,
					</p>
				</div>
			</div>
			<div class="card-footer px-4 py-2 d-flex justify-content-between">
				<div class="">
					<button type="button" class="btn-icon">
						<i aria-hidden="true" class="material-icons primary-text">share</i>
					</button>
					<button type="button" class="btn-icon">
						<i aria-hidden="true" class="material-icons success-text">favorite</i>
					</button>
					<div class="spacer"></div>

				</div>
				<button type="button" class="btn-icon">
					<i aria-hidden="true" class="material-icons primary-text">more_horiz</i>
				</button>
			</div>
		</div>
	</div>
</div>
