<div class="card">
	<div class="">
		<div class="card-header p-4">
			<div>
				<h4 class="">Where Can You Find Unique Myspace Layouts Nowadays</h4>
				<span class="text-md">11 Nov 2017 , By: Admin , 5 Comments </span>
			</div>
		</div>
		<div class="card-data">
			<div class="blog-grid">
				<div style="height:240px; background-image: url(&quot;http://vuely.theironnetwork.org/static/img/blog-6.jpg&quot;); background-position: center center;"></div>
			</div>
			<div class="px-4 py-3">
				Consectetur adipisicing elit. Ullam expedita, necessitatibus sit exercitationem aut quo quos inventore, similique nulla minima distinctio illo iste dignissimos vero nostrum, magni pariatur delectus natus.
			</div>
			<div class="card-footer px-4 py-2 d-flex justify-content-between">


				<div class="">
					<button type="button" class="btn-icon">
					<i aria-hidden="true" class="material-icons primary-text">share</i>
				</button>
					<button type="button" class="btn-icon">
					<i aria-hidden="true" class="material-icons success-text">favorite</i>
				</button>
					<div class="spacer"></div>

				</div>
				<button type="button" class="btn-icon">
					<i aria-hidden="true" class="material-icons primary-text">more_horiz</i>
				</button>
			</div>
		</div>
	</div>
</div>
