<div class="user-profile-wrapper">
	{{> widgets/profile/userDetail}}
</div>
<div class="row">
	<div class="col s12 m12 l4">
		{{> widgets/profile/contactRequest}}
		{{> widgets/profile/education}}
		{{> widgets/profile/skills}}
	</div>
	<div class="col s12 m12 l8">
		{{> widgets/profile/userActivity}}
	</div>
</div>