/*====Radius====*/
.rounded-circle {
	border-radius: 100%;
}

.border-rad-sm {
	border-radius: 10px;
}


/*====Border====*/
.border-top-1 {
	border-top: 1px solid #eeeeee;
}

.border-bottom-1 {
	border-bottom: 1px solid #eeeeee;
}

.border-left-1 {
	border-left: 1px solid #eeeeee;
}
