/*====Text Alignment====*/
.text-justify {
   text-align: justify !important;
}

.text-nowrap {
   white-space: nowrap !important;
}

.text-right {
   text-align: right;
}

.text-left {
   text-align: left;
}

.text-center {
   text-align: center;
}

/*====Text Transform Classes====*/
.text-lowercase {
   text-transform: lowercase !important;
}

.text-uppercase {
   text-transform: uppercase !important;
}

.text-capitalize {
   text-transform: capitalize !important;
}

/*====Text Sizes====*/
.text-xs {
   font-size: 50% !important;
}

.text-sm {
   font-size: 80% !important;
}

.text-md {
   font-size: 90% !important;
}

.text-lg {
   font-size: 110% !important;
}

.text-xl {
   font-size: 120% !important;
}

.text-xxl {
   font-size: 200% !important;
}

.text-muted {
   color: $text-muted;
}

.text-white {
   color: #ffffff !important;
}

.text-color{
   color:$body-color;
}

/*====Font Weight====*/
.fw-normal {
   font-weight: normal !important;
}

.fw-bold {
   font-weight: 700 !important;
}

p {
   margin-top: 0;
}

span.badge {
   border-radius: .25rem;
   color: #fff;
   display: inline-block;
   font-size: 75%;
   font-weight: 400;
   padding: .2rem .5rem .1rem;
   text-align: center;
   text-transform: uppercase;
   white-space: nowrap;
   line-height: normal;
}


