/*====Sidebar Style====*/
%flex-col {
	align-items: center;
	color: inherit;
	display: block;
	font-size: 16px;
	font-weight: 400;
	height: 48px;
	margin: 0;
	display: flex;
	width: 100%;
	position: relative;
	text-decoration: none;
	transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.app-sidebar {
	margin-top: 0;
	max-height: calc(100% +0px);
	transform: translateX(0px);
	width: $sidebar-width;
	position: fixed;
	height: 100%;
	z-index: 9;
	transition: transform $transition-time ease;
	.site-logo {
		margin-bottom: 1.5rem;
		border-bottom: 1px solid $site-logo-border;
		padding: 0.9rem;
	}
	a{
		font-size: $sidebar-menu-font;
	}
	.main-sidebar {
		transition: all 0.2s ease-in-out 0s; //  width: $sidebar-width !important;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			z-index: -1;
			background: $sidebar-bg-color;
		}
		height: 100%;
		overflow: hidden;
		* {
			color: $sidbar-menu-color;
		}
		.collapsible-body {
			border: 0;
			padding: 0.3rem 1rem 0.3rem 3.2rem;
			li {
				@extend %flex-col;

				a {
					width: 100%;
					display: block;
				}
			}
			.treeview-menu li {
				height: 48px;
			}
		}
		.active .collapsible-header > a {
			font-weight: bold;
		}

		.collapsible-header > a {
			display: flex;
			align-items: baseline;
			width: 100%;
			z-index: 10;
			align-items: center;	
			span{
				width: 126px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.treeview-menu {
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
		.collapsible-header > li {
			@extend %flex-col;
			a {
				width: 100%;
				display: block;
			}
		}
	}
	.sidebar-nav {
		height: 100%;
	}
	.collapsible {
		border: 0;
		background: transparent;

		
	}
	.collapsible-header {
		border: 0;
		background: transparent;

		i {
			font-size: 22px;
			min-width: 30px;
		}
	}
	.header {
		display: block;
		font-size: 12px;
		font-weight: 400;
		margin: 0.625rem 0;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.sidebar-menu {
		> li.menu-item {
			position: relative;
			&::before {
				content: '\f2f2';
				font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
				text-rendering: auto;
				position: absolute;
				top: 20px;
				left: 20px;
				transform: rotate(-90deg);
				transition: all $transition-time ease;
			}
			&.active::before {
				transform: rotate(0deg);
			}
			> .collapsible-header {
				padding-left: 2.5rem;
			}
		}
		.collapsible-header {
			position: relative;
			s &:hover::before {
				transform: scaleX(1);
			}
		}
		.collapsible-header::before {
			background-color: $sidebar-menu-active-hover-bg;
			border-radius: 0 100px 100px 0;
			bottom: 0;
			box-shadow: $sidebar-menu-active-hover-box-shadow;
			content: "";
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			transform: scaleX(0);
			transform-origin: left;
			transition: transform 0.4s ease-in-out;
			width: 210px;
			z-index: 9;
		}
		.active .collapsible-header::before {
			transform: scaleX(1);
		}
	}
}

//Sidebar Profile 
.sidebar-user .dropdown-content {
	border: 0;
	min-width: 200px;
	max-width: 200px;
   width: 200px;
   border-radius:3px;
	.collection {
      margin: 0;
      border:0;
      border-radius:0;
	}
	.drop-list {
		> div {
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .11);
			margin: .3125rem;
		}
		a {
			padding: 0.8rem;
			display: block;
		}
		a,
		span {
			color: $sidebar-user-dropdown-color;
		}

	}
}
.sidebar-user-drop{
	.collection-item{
		.text-sm{
			line-height: 1.3;
		}
		.dropdown-content .drop-list > div{
			margin: 0 3px;
		}
	}
}
//sidebar closed
.app-main-content.margin {
	padding-left: 0;
}

.app-sidebar.width {
	transform: translateX(-100%) !important;
}

.app-toolbar.full-width {
	padding-left: 0;
}

/*====Recent Chat Sidebar====*/
.recent-chat-sidebar {
	.chat-head {
		background-color: $primary;
		h3 {
			color: $sidbar-menu-color;
		}
	}
	.usr-chat {
		&.d-flex,
		.d-flex {
			flex: auto;
		}
		.name-wrap {
			width: 89%;
			.img-wrap {
				width: 40px;
			}
			.usrname-wrap {
				width: calc(100% - 60px);
			}
		}
		.chat-bbl {
			width: 10%;
		}
		.name-wrap-p {
			width: 40px;
		}
		.usrname-wrap-p {
			width: calc(100% - 60px);
		}
	}
}

/*====Sidebar Images Display====*/
.sidebar-images{
	box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
	.set-width{
		width: 45%;
		img{
			border: 3px solid transparent;	
		}
		.active img{
			border: 3px solid $error-color;
		}
	}
}

@media only screen and (max-width:767px) {
	.sidenav {
		width: 255px;
	}
	.app-sidebar .site-logo {
		padding: 0.7rem;
	}
}
