<div class="card mb-4">
	<div class="card-content">
		<div class="card-data d-flex align-items-center">
			<img src="/images/avatars/user-12.jpg" class="img-responsive rounded-circle mr-4" alt="user profile" width="95" height="95" />
			<div class="media-body">
				<span class="pink--text">Request</span>
				<h2>Andre Hicks</h2>
				<span>Sr. Develoepr @Oracle</span>
				<div class="btn-wrapper mt-2">
					<a class="waves-effect waves-light btn green mr-2 mb-2">Accept</a>
					<a class="waves-effect waves-light btn red  mr-2 mb-2">Reject</a>
				</div>
			</div>
		</div>
	</div>
</div>
